<div class="header">
  <div class="container">
      <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

              <a href="#" class="navbar-brand scroll-top"><img src = "assets/img/powerlink.jpg"
                alt="Responsive image"
                height="100px"
                width="100px"
                alt="alt text"
                style="float: left"

                ><em>Powerlink</em> <em>Engineering</em> <br> <em>&<br></em><em>Constructions</em> </a>

          </div>
          <!--/.navbar-header-->
          <div id="main-nav" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="#" class="scroll-top">Home</a></li>
                  <li><a href="#" class="scroll-link" data-id="about">About Us</a></li>
                  <li><a href="#" class="scroll-link" data-id="projects">Projects</a></li>
                  <li><a href="#" class="scroll-link" data-id="product">Product and Services</a></li>
                  <li><a href="#" class="scroll-link" data-id="testimonial">Our Clients</a></li>
                  <li><a href="#" class="scroll-link" data-id="contact-us">Contact Us</a></li>
              </ul>
          </div>
          <!--/.navbar-collapse-->
      </nav>
      <!--/.navbar-->
  </div>
  <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
  <div class="container">
     <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme','customerClassName']">


       <div class="item">
        <img src = "assets/img/slideshow05.jpg"
        alt="Responsive image"
        height="450px"
        >
       </div>
       <div class="item">
        <img src = "assets/img/slideshow07.jpg"
        alt="Responsive image"
        height="450px"
        >
       </div>
       <div class="item">
        <img src = "assets/img/slideshow08.jpg"
        alt="Responsive image"
        height="450px"
        >
       </div>
     </owl-carousel>
  </div>
</div>

